QMainWindow{
	background-color: #272727;
}

GenericWnd {
	background-color: #f0f0f0;
}
QPushButton{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(245, 245, 245, 255), stop:1 rgba(225, 225, 225, 255));
	border: 2px solid #828282;
	border-radius: 4px;
	font-weight: bold;
	/*color: #1f1f1f;*/
	text-align: center;
	line-height: 40px;
	
	/* padding-bottom: 5px; */
	/* background-image: url(:/images/Resources/FilterBtnApply.png);	 */

    min-width: 75px;
	max-height: 40px;
}
QPushButton::hover{
	border: 2px solid #696969;
}
QPushButton:focus{
	border: 2px solid #327aef;
}
QToolButton {
	border: 1px solid #3d3e40;
	padding:2px 1px 1px 2px;
	margin:2px 2px 1px 2px;
/* 	margin: 2px 2px 1px 2px;
	padding: 0px; */
    border-radius: 2px;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(95, 95, 95, 255), stop:1 rgba(91, 91, 91, 255));
}

QToolButton:hover { /* all types of tool button */
     border: 1px solid #212121;
	 background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(108, 108, 108, 255), stop:1 rgba(81, 81, 81, 255));
 }
 
 QToolButton:pressed { /* all types of tool button */
     border: 1px solid #1d2125;
	 background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(52, 52, 52, 255), stop:1 rgba(42, 42, 42, 255));
 }
 
 QToolButton:checked { /* all types of tool button */
     border: 1px solid #1d2125;
	 background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(52, 52, 52, 255), stop:1 rgba(42, 42, 42, 255));
 }
 /*=========================
		QListWidget
=========================*/
QListView {
	alternate-background-color: yellow;
	outline: 0px;
	border: 0px;
}

QListView::item {
    border-bottom: 1px solid #cdcdcd;
	padding-left: 2px;
	min-height: 18px;
}

QListView::item:alternate {
    background-color: #f3f3f4;
}

QListView::item:selected {
    background-color: #b2cffb;
	font-weight:bold;
	color: #000;
	border-bottom: 1px solid #cdcdcd;
	
}

QListView::item:selected:!active {
    background: #c5ced8;
	font-weight: bold;
	color: #353535;
								 
}

QListView::item:selected:active {
    background-color: #b2cffb;
	font-weight:bold;
	color: #000;
	outline: 0px;
	border-bottom: 1px solid #cdcdcd;	
}

QListView::item:hover {
    background: #f3f3f4;
	outline: 0px;
}
/*=============================
		QTimeEdit
==============================*/

.TimeEdit:disabled {
	border: 1px solid #adb2b5;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	background-color: #f4f4f4;
	color: #787878;
	min-height: 19px;
}
 
.TimeEdit{
	border: 1px solid #656565;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	background-color: #fdfdfd;
	selection-background-color: #327aef;
	selection-color: #fff;
	color: #333;
	min-height: 19px;
}

.TimeEdit:focus {
	border: 1px solid #327aef;
	background-color: #fff;
}

 QTimeEdit:disabled {
	border: 1px solid #adb2b5;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	background-color: #f4f4f4;
	color: #787878;
	min-height: 19px;
 }

QTimeEdit {
	border: 1px solid #656565;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	background-color: #fdfdfd;
	selection-background-color: #327aef;
	selection-color: #fff;
	color: #333;
	min-height: 19px;
}
 
QTimeEdit:focus {
	border: 1px solid #327aef;
	background-color: #fff;
}

QTimeEdit::up-button:disabled {
    subcontrol-position: top right;
	image: url(:/images/Resources/SpinnerUpColorDisabled.png);
	height: 10px;
	width: 16px;
	border-bottom: 1px solid #000;
	padding-bottom: 1px;
}


QTimeEdit::up-button {
    subcontrol-position: top right;
	image: url(:/images/Resources/SpinnerUpColor.png);
	height: 10px;
	width: 16px;
	border-bottom: 1px solid #000;
	padding-bottom: 1px;
}
 
 QTimeEdit::up-arrow {}
 
 QTimeEdit::up-button:hover{}
 
 QTimeEdit::up-button:pressed {
    subcontrol-position: top right;
	image: url(:/images/Resources/SpinnerUpColorPressed.png);
	height: 10px;
}

QTimeEdit::down-button:disabled {
    subcontrol-position: bottom right;
	image: url(:/images/Resources/SpinnerDownColorDisabled.png);
	height: 10px;
	width: 16px;
	 top:1px;
	padding-bottom: 1px;
} 
 
 QTimeEdit::down-button {
	subcontrol-position: bottom right;
	image: url(:/images/Resources/SpinnerDownColor.png);
	height: 10px;
	width: 16px;
    top:1px;
	padding-bottom: 1px;
	
}
 
 QTimeEdit::down-arrow {}
 
 QTimeEdit::down-button:hover{}
 
 QTimeEdit::down-button:pressed {
	image: url(:/images/Resources/SpinnerDownColorPressed.png);
	height: 10px;
    subcontrol-position: bottom right;
	top:1px;
	padding-bottom: 1px;
}


/*=============================
		QToolBox
==============================*/
QToolBox {
	border: 1px solid #828790;
}

QToolBox::tab {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 255), stop:1 rgba(230, 230, 230, 255));
    color: #333;
	border-top: 1px solid #8d908b;
	background-image: url(:/images/Resources/TimeSalesDownArrow.PNG);
	background-repeat: no-repeat;
	background-position:right;
}

 QToolBox::tab:selected, QToolBox::tab:first:selected {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(52, 109, 171, 255), stop:1 rgba(2, 67, 126, 255));
    color: white;
	font-weight: bold;
	border-top: 1px solid #022d56;
	border-bottom: 1px solid #022d56;
	background-image: url(:/images/Resources/TimeSalesUpArrow.PNG);
	background-repeat: no-repeat;
	background-position:right;
}

QToolBox::tab:first {
	border-top: none;
}

/*****************************************************************************************************************************************/

/*=========================
		QListWidget
=========================*/

/* QWidget {background: #eeeeee;} */

QListWidget{ }

.PrefListWidget{
	background-color: #353535;
	color: #97999d;
	border: 1px solid #1d1d1d;
	
	border-top: 0px;
}
QScrollBar:vertical {
	border:none;
    margin: 11px 0 11px 0; /*remove top and bottom margin if you need to remove arrows*/
    max-width: 13px;
}
QScrollBar::handle:vertical { /*handler*/
	background-color: #bcbcbc;
	
	min-height: 11px;
	border:1px solid #a8a8a8;
	border-radius: none;
}

QScrollBar::add-line:vertical {/*bottom arrow container*/
/*  border: 1px solid #323232; */
	background-color: #f1f1f1;
    height: 11px;
	background-image: url(:/images/Resources/ScrollArrowBottom.png);
	background-repeat:no-repeat;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {/*Top arrow container*/
/*  border: 1px solid #E2E2E2;
	border:1px solid #323232; */
	background-color: #f1f1f1;
    height: 11px;
	background-image: url(:/images/Resources/ScrollArrowTop.png);
	background-repeat:no-repeat;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:hover {
	background-color: #d1d1d1;
}
QScrollBar::add-line:hover {
	background-color: #d1d1d1;
}

QScrollBar::right-arrow:hover{
	background-image: url(:/images/Resources/ScrollArrowRight.png);
	background-color: #d1d1d1;
}

QScrollBar::left-arrow:hover{
	background-image: url(:/images/Resources/ScrollArrowLeft.png);
	background-color: #d1d1d1;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {/*Arrow Point*/
    width: 5px;
    height: 5px;
	background-color: rgba(255, 255, 255, 0);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {/*Handler Back color*/
    background:#f1f1f1;
	border:0px;
	border-bottom:0px solid gray;
}
QScrollBar:horizontal  {
    border:none;
    margin: 0px 11px 0px 11px;/*remove left and right margin if you need to remove arrows*/
    max-height: 15px;
}
QScrollBar::handle:horizontal  {/*Handler*/
	background-color: #bcbcbc;
	min-width: 11px;
	border:1px solid #a8a8a8;
	border-radius: none;
}
QScrollBar::add-line:horizontal  { /*right arrow container*/
	background-color: #f1f1f1;
    background-image: url(:/images/Resources/ScrollArrowRight.png);
	background-repeat:no-repeat;
    width: 11px;
	subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal  { /*left arrow container*/
    background-color: #f1f1f1;
    background-image: url(:/images/Resources/ScrollArrowLeft.png);
	background-repeat:no-repeat;
    width: 11px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background-color: black;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {/*Handler Back color*/
	background: rgb(241,241,241);
	border-top:none;
	border-right:none;
}

 
/*=============================
		QTabWidget
==============================*/

QTabWidget::pane { /* The tab widget frame */
    border: none;
	border-top: 1px solid #2A2A2A;
	background-color: #ffffff;
}

QTabWidget::tab-bar {
    left: 1px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0, 59, 87, 255), stop:1 rgba(0, 44, 61, 255));
    padding: 2px 5px 3px 12px;
	color:#017ab1;	
	font: 8pt "Tahoma";
	margin-right:1px;
	margin-left:1px;
	margin-top:3px;
	min-height:23px;
	border: #00547b;
}

QTabBar::tab:selected {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0, 91, 133, 255), stop:1 rgba(0, 74, 102, 255));
	margin-top:2px;
	margin-bottom: 1px;
	height:24px;
	border:1px solid #0078a8;
	color:#b9e2ff;	
}
QTabBar::tab:hover {
}


QTabBar::tab:!selected {
    margin-top:3px; /* make non-selected tabs */
	border:1px solid #00547b;
	top:-1px;
}
QTabBar::tab:!selected:hover{
	/*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(84, 99, 135, 255), stop:1 rgba(30, 34, 45, 255));*/
	 background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(1, 71, 104, 255), stop:1 rgba(0, 54, 74, 255));
	 color: #0090d2;
}
QTabBar::tab:last {
     margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
 }
 QTabBar::close-button{
	background-image: url(:/images/Resources/TabCloseImage.png);
	margin-left:1px;
}

QTabBar::close-button:!selected{
	background-image: url(:/images/Resources/TabCloseImageNotSelected.png);
	margin-left:1px;
}
 

 /*=============================
		QMenuBar
==============================*/ 
 
QMenuBar{
	Padding:3px 2px 2px 2px;
	background-color: #353535;
	color: #dbdada;
	
	border-bottom: 1px solid #272727;

	/*Padding-left:70px;*/
	
	background-repeat:no-repeat;
}

QMenuBar:hover{
	background-image: url(:/images/Resources/CVSA_hover.png);
	background-repeat:no-repeat;
}

QMenuBar::item {
     spacing: 3px; /* spacing between menu bar items */
     padding: 5px 10px;
     background: transparent;
	 /*border-top-left-radius:3px;
	 border-top-right-radius:3px;*/
}


QMenu{
	background-color: #414141;
	color:#97999d;
/* 	selection-background-color: #13769b; */
	selection-color: #fff;
/* 	min-width:150px; */
/* 	border-top: 2px solid #ef4a4a; */
	padding-top: 4px;
	/* border:1px solid #878787; */
}

 QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background-color: #5d5d5d;
	border: 1px solid #2b2b2b;
	color:white;
	
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
 QMenuBar::item:pressed {
     background-color: #151515;
	 color:white;
	 border: 0px;
	 
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
/*QLabel { color:#888888; }*/
 /*=============================
		QGroupBox
==============================*/ 

QGroupBox {
     background-color: #dddddd;
     border: 1px solid #b0b0b0;
     margin-top: 7px; /* leave space at the top for the title */
 }

 QGroupBox::title {
     subcontrol-origin: margin;
     subcontrol-position: top center; /* position at the top center */
     padding: 0 3px;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FFOECE, stop: 1 #FFFFFF);
 }

 /*=============================
		QToolBar
==============================*/ 

QToolBar{
	border-left: 1px solid #6a6a6a;
	border-right: 1px solid #282828;
	border-top: 1px solid #272727;
	min-height: 40px;
	padding-left: 5px;
	background-color:#535353;
	
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 0px;
}

QToolBar::handle:horizontal{
	margin-top: 2px;
	margin-bottom: 2px;
	
	background-image: url(:/images/Resources/ToolBarHhandle.png);
	background-repeat: repeat-y;
	
}

QToolBar::handle:vertical{
	margin-right: 2px;
	margin-left: 2px;
	
	background-image: url(:/images/Resources/ToolBarVhandle.png);
	background-repeat: repeat-x;
}

/*=============================
		Table View
==============================*/

QTableView QHeaderView{
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(39, 39, 39, 255), stop:0.914773 rgba(63, 63, 63, 255), stop:0.920455 rgba(99, 98, 98, 255));
    text-transform: uppercase;
}

QTableView QHeaderView::section:horizontal, QTreeView QHeaderView::section{
	background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(39, 39, 39, 255), stop:0.914773 rgba(63, 63, 63, 255), stop:0.920455 rgba(99, 98, 98, 255));
    border: 0;
	padding:5px 2px 5px 2px;
    font-size: 11px;
	font-weight:bold;
	color: #fff;
}

QTableView QHeaderView::section:vertical{
	background-color: qlineargradient(spread:pad, x1:2, y1:2, x2:1, y2:0, stop:0 rgba(39, 39, 39, 255), stop:0.914773 rgba(63, 63, 63, 255));
    border: 0;
	padding:5px 2px 5px 2px;
    font-size: 11px;
	font-weight:bold;
	color: #fff;
}

QTableView QHeaderView::section:horizontal{
    border-right: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
}

QTableView QHeaderView::section:vertical{
    border-right: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
}

QTreeView QHeaderView::section{
	padding-left:5px;
	padding-right:2px;

}

QTableView QHeaderView::section:pressed, QTreeView QHeaderView::section:pressed{
	background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(39, 39, 39, 255), stop:0.914773 rgba(63, 63, 63, 255), stop:0.920455 rgba(99, 98, 98, 255));
}






QHeaderView::section:horizontal{
    border-right: 1px solid #CFD1D2;
}

QHeaderView::section:vertical{
    border-bottom: 1px solid #CFD1D2;
}

QWidget {
    /*background-color: #40515E;*/
}

/*QTableWidget::item {
    background-color: #000;
}*/

QTableWidget{
    border: 0;
}

#tableFrame{
/*    border: 1px solid red;*/
}

QTableView QTableCornerButton::section {
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(39, 39, 39, 255), stop:0.914773 rgba(63, 63, 63, 255), stop:0.920455 rgba(99, 98, 98, 255));
    border: 0;
    outline: 0;
}

QTableView{ 
    background-color: #181818; /*Color of the first row*/
    alternate-background-color: #121212; /*Color of the Second row*/
    selection-color: rgb(255, 255, 255);
    color:#9e9e9e;
    gridline-color: #2c2c2c;
    font-size: 12px;
}




QTableView::item:hover{

    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(0, 119, 119, 100), stop:0.943182 rgba(1, 149, 149, 100), stop:0.954545 rgba(11, 202, 202, 100));
}

QTableView::item:selected{
    
    background-color: #1467a8;
/*    background-color: rgba(20, 103, 168, 100);*/
}

/*********TO BE REMOVED*************/
#labelDescription{
    color: red;
    display: none;
    visibility: hidden;
}


/*=============================
		ScrollBar
==============================*/

QScrollBar:vertical {
	border:none;
    margin: 11px 0 11px 0; /*remove top and bottom margin if you need to remove arrows*/
    max-width: 13px;
}
QScrollBar::handle:vertical { /*handler*/
	background-color: #bcbcbc;
	
	min-height: 11px;
	border:1px solid #a8a8a8;
	border-radius: none;
}

QScrollBar::add-line:vertical {/*bottom arrow container*/
/*  border: 1px solid #323232; */
	background-color: #f1f1f1;
    height: 11px;
	background-image: url(:/images/ScrollArrowBottom.png);
	background-repeat:no-repeat;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {/*Top arrow container*/
/*  border: 1px solid #E2E2E2;
	border:1px solid #323232; */
	background-color: #f1f1f1;
    height: 11px;
/*	background-image: url(:/img/img/arrow-up.png);*/
	background-repeat:no-repeat;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:hover {
	background-color: #d1d1d1;
}
QScrollBar::add-line:hover {
	background-color: #d1d1d1;
}

QScrollBar::right-arrow:hover{
/*	background-image: url(:/images/Images/ScrollArrowRight.png);*/
	background-color: #d1d1d1;
}

QScrollBar::left-arrow:hover{
/*	background-image: url(:/images/Images/ScrollArrowLeft.png);*/
	background-color: #d1d1d1;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {/*Arrow Point*/
    width: 5px;
    height: 5px;
	background-color: rgba(255, 255, 255, 0);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {/*Handler Back color*/
    background:#f1f1f1;
	border:0px;
	border-bottom:0px solid gray;
}
QScrollBar:horizontal  {
    border:none;
    margin: 0px 11px 0px 11px;/*remove left and right margin if you need to remove arrows*/
    max-height: 15px;
}
QScrollBar::handle:horizontal  {/*Handler*/
	background-color: #bcbcbc;
	min-width: 11px;
	border:1px solid #a8a8a8;
	border-radius: none;
}
QScrollBar::add-line:horizontal  { /*right arrow container*/
	background-color: #f1f1f1;
/*    background-image: url(:/images/Images/ScrollArrowRight.png);*/
	background-repeat:no-repeat;
    width: 11px;
	subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal  { /*left arrow container*/
    background-color: #f1f1f1;
/*    background-image: url(:/images/Images/ScrollArrowLeft.png);*/
	background-repeat:no-repeat;
    width: 11px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background-color: black;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {/*Handler Back color*/
	background: rgb(241,241,241);
	border-top:none;
	border-right:none;
}

/*=============================
        Graph Styles
==============================*/

QwtPlot
{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #31312C, stop: 1 #808080 );
}

QwtPlotCanvas
{
    border: 1px solid White;
    border-radius: 10px;
    background-color: #101010;
}

QwtPlotGLCanvas
{
    border: 1px solid White;
    background-color: #101010;
}

QwtScaleWidget
{
    color: white;
}

QwtTextLabel#QwtPlotTitle
{
    color: white;
}

QwtTextLabel#QwtPlotFooter
{
    color: white;
}

QwtLegend
{
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(39, 39, 39, 255), stop:0.914773 rgba(63, 63, 63, 255));
/*    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,*/
/*        stop: 0 #808080, stop: 1 #31312C );*/
}

QwtLegendLabel
{
    color: white;
    font-size: 12px;
    outline: 0px;
    border: 0px;
}

